@import "grid";
$color: #aaa;
$color-date:#2271ed;
$gradient: "linear-gradient(#FFF, #eee);";
$gradient-info: linear-gradient(to bottom, #d9edf7 0, #b9def0 100%);
$gradient-success: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%);
$gradient-warning:linear-gradient(to bottom, #fcf8e3 0px, #f8efc0 100%);
$gradient-dark:linear-gradient(#3c3c3c, #222);
$color-info:#31708f;
$color-success:#3c763d;
$color-warning:#8a6d3b;

.header, .footer{
  display: flex;
  flex-wrap: wrap;
  min-height: 50px;
  background: $gradient-dark;
  li{
    display: inline-block;
    padding: 5px;
    border: 1px solid #aaa;
  }

}
.footer{
 margin-top: auto;
  justify-content: center;
  color:$color;
}

.container{
  max-width:1170px;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  .col{
    margin:0 15px;
    width:calc(8.33333333% -  #{$offset});
    text-align: center;
    background: $color;
  }
}
.scroll, .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  li{
    display: inline-block;
    margin: 10px;
    list-style-type: none;
  }
  p{
    margin: 0 10px;
  }
}

h1,h2,h3,h4,h5{
  margin:10px;
  padding: 10px;
  width: calc(100% - 40px);
  background: $gradient-info;
  border-radius:5px;
  color: $color-info;
  border: 1px solid $color-info;
}
ul, body{
  padding: 0;
  margin: 0;
}
html,body{
  height: 100%;
  background: #999;
   font-family: "Lato";
}
body{
  display: flex;
  flex-direction: column;

}
.more_scroll{
  display: flex;
  justify-content:center;
  align-content:center;
  height: 50px;
  color: white;
  background: linear-gradient(#2589ED, #3F94EA);
  width: calc(100% - 30px);
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background: linear-gradient(#3F94EA, #2589ED);
  }
}
.poster{
position: relative;
color: white;
}
.stripe_up{
  position: absolute; top: 0;left: 0; width: 100%; background:#000; opacity: 0.8;text-align: center;
}
.stripe_down{
  position: absolute; bottom: 0;left: 0; width: 100%; background:#000; opacity: 0.8;text-align: center;
}
.header{
  width: calc(100% - 20px);
  display: flex;
  flex-wrap: wrap;
   padding: 0 10px;
  .logo{
    margin: 0 15px;
    @include col(4);
    @include col-lg(4);
    @include col-md(4);
    @include col-sm(12);
    @include col-xs(12);

  }
  .menu{
    @include col(4);
    @include col-lg(4);
    @include col-md(4);
    @include col-sm(12);
    @include col-xs(12);
    margin: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    a{
      display: flex;
      align-items: stretch;
      align-items:center;
      flex-grow: 1;
      justify-content: center;
      color: white;
      text-decoration: none;
      &:hover, .active{
        background: #000;
      }
    }
  }
  .search{
    display: flex;
    align-items:center;
    justify-content:center;
    @include col(4);
    @include col-lg(4);
    @include col-md(4);
    @include col-sm(12);
    @include col-xs(12);
     input{
      padding: 6px 12px;
      color:#aaa;
       border: 1px solid #999;
      border-radius: 5px;
      &:focus, &:active{
        border-color: #66afe9;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
    }
    .button{
      color: white;
    background: linear-gradient(#3ddee9, #28ceed);
      &:hover{
        cursor: pointer;
        background: linear-gradient(#31afba, #28a9c8);
      }
    }
  }
}

.image_block{
  @include col(4);
  @include  col-lg(4);
  @include col-md(4);
  @include col-sm(12);
  @include col-xs(12);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  }
  }
.date_block {
  min-height: 300px;
  display: flex;
  flex-direction:column;
  @include col(8);
  @include col-lg(8);
  @include col-md(8);
  @include col-sm(12);
  @include col-xs(12);
  .stroka{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    strong{
      font-size: 21px;
    }
    .date{
      color: #0077d3;
      font-size: 21px;
      align-self: flex-end;
    }
  }
}
.text{
  margin: 15px;
  @include col(6);
  @include col-sm(12);
  p{
    padding: 10px;
  }
}
.trailer{
  margin: 15px;
  @include col(6);
  @include col-sm(12);
  iframe{
    width: 99%;
  }
  h3{
   margin: 10px 0;
    width: calc(100% - 30px);
  }
}
.icon{
  flex-basis: 110px;
  @include col(4);
  @include col-xs(12);
}
.picture{
  flex-basis: 150px;
  @include col(8);
  @include col-xs(12);
}
.success{
  background: $gradient-success;
  color: $color-success;
  padding: 10px;
  border-radius:5px;
  border: 1px solid $color-success;
}
.warning{
  background: $gradient-warning;
  color: $color-warning;
  padding: 10px;
  border-radius:5px;
  border: 1px solid $color-warning;
}
.row.article{
  justify-content: flex-start;
}
.blu_ray_nav{
  display: flex;
  justify-content: space-between;
  margin:15px;
  height: 50px;
  .left, .right{
    color:white;
    background: #2271ed;
    justify-content: center;
    align-items: center;
    display: flex;
    @include col(5);
    &:hover{
      background: #225CB9;
    }
  }
}
.news_title{
  @include col(8);
  @include col-xs(12);
}
.news_date{
  color: $color-date;
  font-size: 18px;
  @include col(4);
  @include col-xs(12);
}